/* General */

body {
  font-family: 'Quicksand', sans-serif;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0px;
}

h2 {
  font-size: 3em;
  margin-bottom: 5px;
}

/* Sidebar */

.sidebar {
  width: 15%;
  height: 100vh;
  background-color: white;
  border-right: thin solid #CCC;
  box-sizing: border-box;
}

.cat-list ul {
  padding: 20px;
  margin: 0px;
}

.cat-list li {
  list-style: none;
  padding-bottom: 10px;
}

.cat-list li:hover {
  font-weight: 700;
  cursor: pointer;
}

/* Main */

.main {
  width: 85%;
  text-align: center;
}

.description {
  margin-top: 5px;
}

.counter-text {
  font-size: 2em;
}

.counter {
  color: purple;
  font-weight: 700;
}

.image {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cat-image {
  width: 100%;
}

.cat-image:hover {
  cursor: pointer;
}

.image-title {
  width: 100%;
  margin-top: 10px;
  font-weight: 700;
}

/* Admin */
.admin-button {
  border: 1px solid #008CEE;
  border-radius: 4px;
  color: #008CEE;
  padding: 5px 15px 5px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.admin-button:hover {
  cursor: pointer;
  border: 1px solid #008CEE;
  border-radius: 4px;
  background-color: #008CEE;
  color: #FFFFFF;
}

.admin {
  width: 100%;
}

.input-label {
  padding-right: 5px;
  padding-left: 25px;
}

.input-box {
  height: 18px;
  width: 100px;
}

.submit-button {
  border: 1px solid #008CEE;
  border-radius: 4px;
  background-color: #008CEE;
  color: #FFFFFF;
  padding: 5px 15px 5px 15px;
  margin-left: 20px;
}

.submit-button:hover {
  cursor: pointer;
  border: 1px solid #0066EE;
  background-color: #0066EE;
}
